/* ---------------- */
/* --- CAROUSEL --- */
/* ---------------- */

.carousel {
    font-display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel__container {
    display: block;
    position: relative; /* centre de la stack*/
    width: 1080px;
    height: 500px;
    overflow: hidden;

    @media (min-width: 992px) and (max-width: 1240px) {
        width: 810px;
        height: 375px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        width: 648px;
        height: 300px;
    }

    @media (min-width: 520px) and (max-width: 767px) {
        width: 432px;
        height: 200px;
    }
    @media (max-width: 519px) {
        width: 270px;
        height: 125px;
    }
}

.carousel__slide {
    display: flex; /* Utilisez flex pour centrer le contenu si nécessaire */
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 100%; /* Commencez à droite en dehors de la vue */
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out; /* Animez le mouvement */
    opacity: 0; /* Commencez invisible */
}

.carousel__slide.active {
    transform: translateX(-100%); /* Déplacez le slide actif à la position visible */
    opacity: 1; /* Rendez le slide actif visible */
}


/* ---------------- */
/* --- CONTROLS --- */
/* ---------------- */

.carousel__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;

    column-gap: 20px;

    width: 100%;

    margin-top: 10px;
    
    text-align: center;
    z-index: 2;

}

/* --- Control < > --- */

.control {
    display: flex;

    cursor: pointer;
    
    color: #686868;
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
    user-select: none;
    z-index: 2;
}

.control:hover {
    color: #252525;
}

/* --- Pagination ._... --- */

.pagination {
    display: flex;
    align-items: center;

    z-index: 3; 
}

.dot {
    display: flex;
    
    height: 6px;
    width: 6px;
    border-radius: 10px;

    z-index: 5;
    margin: 0 5px;

    background-color: #686868;

    cursor: pointer;

    transition: width 0.5s ease-in-out;
}

.dot:hover {
    background-color: #252525;
}

.dot.active {
    width: 28px; 
}